

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: slategrey;
}
 

.container {
    margin: auto;
    width: 1000px;
    height: 300px;
    border: 1px solid orange;
    background-image: url("images/Background.jpg");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 5000px;
    overflow: hidden;

}

.scrollingBg {
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
      background-position-x: 5000px;
    }
    to {
      background-position-x: 0px;
    }
  }

.character {
    position: absolute;
    width: 75px;
    height: 90 px;
    right: -10px;
    overflow: hidden;
}


.player {
    position: relative;
    width: 50px;
    height: 70px;
    top: 230px; 
    left: 100px; 
}


.jumping {
    animation: jump 800ms;

}

 @keyframes jump {  
    0% {top: 200px;}
    50% {top: 100px}
    100% {top: 200px;}
}

.moving {
    animation: runningCat 800ms steps(8) infinite;
}

 @keyframes runningCat {
    from {
       transform: translate3d(0,0,0px)
    }
    to {
       transform: translate3d(-100%,0,100px)
    }
 } 

.obstacle {
    width: 50px;
    height: 50px;
    background-color: pink;
    position: relative;
    top: 180px;
    left: 750px;
}

.obstacleMoving {
    animation: obstacleMove 800ms infinite linear;
}
@keyframes obstacleMove {
    0% {left: 1000px;}
    50% {left: 500px;}
    100% {left: -50px}
}